<header>
  <nav class="novo">
    <div style="display: flex">
      <a routerLink="/homepage"
        ><img
          class="imego"
          style="border-radius: 2rem"
          src="assets/photos/Sung Jin-Woo.jpg"
          alt=""
      /></a>
      <a href="#not" title="Go To Notification">
        <img
          class="imego"
          src="assets/photos/bell-notification-social-media (1).png"
          alt=""
      /></a>
      <a href="#mes" title="Go To Messages"
        ><img
          class="imego"
          src="assets/photos/facebook-messenger (1).png"
          alt=""
      /></a>

      <a href="#con" title="Go To Contact"
        ><img class="imego" src="assets/photos/rectangle-list.png" alt=""
      /></a>
    </div>
    <div style="display: flex">
      <a href=""
        ><img class="imego" src="assets/photos/employees (1).png" alt=""
      /></a>
      <a href=""
        ><img class="imego" src="assets/photos/shop (2).png" alt=""
      /></a>
      <a href=""
        ><img class="imego" src="assets/photos/camera-movie (1).png" alt=""
      /></a>
      <a href=""
        ><img class="imego" src="assets/photos/user (1).png" alt=""
      /></a>
      <a routerLink="/Home"
        ><img class="imego" src="assets/photos/home (3).png" alt=""
      /></a>
    </div>
    <div style="display: flex">
      <div>
        <input class="search"
          type="search"
          placeholder="  Search for Creators (._.)"
        />
      </div>
      <div>
        <img
   class="search2"
          src="assets/photos/Untitled design.png"
          alt=""
        />
      </div>
    </div>
  </nav>
</header>

<div class="profile-container">
  <div class="profile-header">
    <h1 class="profile-name">Ahmed Naeem</h1>
    <p class="profile-phone">Phone: +20 1015643260</p>
  </div>
  <div class="profile-links">
    <a href="https://www.youtube.com/@a7med_na3em101" target="_blank">
      <img src="assets/photos/youtube-logo-youtube-icon-transparent-free-png.webp" alt="YouTube" class="profile-icon" />
    </a>
    <a href="https://github.com/a7med-na3em101" target="_blank">
      <img src="assets/photos/images.png" alt="GitHub" class="profile-icon" />
    </a>
    <a href="https://www.linkedin.com/in/a7medna3em101/" target="_blank">
      <img  src="assets/photos/linkedin-logo-linkedin-symbol-linkedin-icon-free-free-vector.jpg" alt="LinkedIn" class="profile-icon2" />
    </a>
    <a href="https://www.instagram.com/a7med_na3em101/" target="_blank">
      <img src="assets/photos/images (1).png" alt="Facebook" class="profile-icon" />
    </a>
        <a href="https://www.facebook.com/ahmedramisisunaeem" target="_blank">
      <img src="assets/photos/Facebook-Logosu.png"alt="Facebook" class="profile-icon1" />
    </a>

  </div>
          <a  href="https://wa.me/+201015643260"  target="_blank">
      <img style="    width: 10rem;
    margin-top: 1rem;" src="assets/photos/WhatsAppButtonGreenLarge.png" alt="Facebook" />
    </a>
</div>


