<div
  style="
    position: relative;
    display: flex;
    margin-top: 1rem;
    justify-content: center;
  "
>
  <img
    style="width: 30rem; border-radius: 2rem"
    src="assets/photos/Screenshot 2024-07-10 005814 (1).png"
    alt=""
  />
  <div class="pop">
    <div>
      <img
        style="border-radius: 5rem; width: 4rem"
        src="assets/photos/images/profile-14.jpg"
        alt=""
      />
    </div>
    <div
      style="
        color: white;
        font-size: x-large;
        font-weight: 700;
        margin-top: 11px;
        margin-left: 1rem;
      "
    >
      fly
    </div>
    <div>
      <a routerLink="/home"
        ><button
          style="
            background-color: #00a5ff;
            color: white;
            border-style: none;
            border-radius: 8px;
            margin-left: 12rem;
            margin-top: 3px;
            font-size: large;
            padding: 10px;
            font-weight: 600;
            font-family: auto;
          "
        >
          Home
        </button></a
      >
    </div>
  </div>
</div>
